apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: jomaga/back-auth:latest
          ports:
            - containerPort: 4000
          env:
            - name: DB_HOST
              value: "db"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  type: NodePort
  ports:
    - port: 4000
      targetPort: 4000
      nodePort: 30000
  selector:
    app: auth-service
