apiVersion: apps/v1
kind: Deployment
metadata:
  name: posts-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: posts-service
  template:
    metadata:
      labels:
        app: posts-service
    spec:
      containers:
        - name: posts-service
          image: jomaga/back-posts:latest
          ports:
            - containerPort: 4001
          env:
            - name: DB_HOST
              value: "db"
---
apiVersion: v1
kind: Service
metadata:
  name: posts-service
spec:
  type: NodePort
  ports:
    - port: 4001
      targetPort: 4001
      nodePort: 30001
  selector:
    app: posts-service
